<section class="brand-wrapper">
    <div class="brand-text">
        Designed with <i class="ri-heart-fill"></i> by <span>Nageshwar Tripathi</span>
    </div>

</section>

<style>
    .brand-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .brand-text {
        font-size: 11px;
        /* position: absolute; */
        /* bottom: 0;
        left: 50%; */
        /* transform: translateX(-50%); */
        width: 280px;
        font-weight: 400;
        padding: 8px 10px;
        background: white;
        border-radius: 10px 10px 0px 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 3px;
        cursor: pointer;
    }

    .brand-text:hover i {
        color: violet;
    }

    .brand-text i {
        font-size: 14px;
        color: crimson;
    }

    .brand-text span {
        color: var(--primary);
        font-weight: 600;
    }
</style>