{% extends "main/base.html" %}
{% load static %}
{% block title %}Coordinators | Euphoric 2024{% endblock title %}
{% block head %}
<link rel="stylesheet" href="{% static 'main/css/coordinators.css' %}">
{% endblock head %}

{% block body %}
{% include 'main/topbar.html' %}
<section class="container">
    <h1 class="container-head">Euphoric 2024 Coordinators</h1>
    <h3 class="container-subhead">{{department.name}} Department</h3>
    <p class="container-text">{{department.description}}</p>
    <div class="wrapper">
        <div class="overall-wrapper">
            <h3 class="wrapper-header">Overall Coordinators</h3>
            <div class="overall-bracket">
                <div class="overall-column">
                    <h3>Cultural</h3>
                    <p>{{department.cultural}}</p>
                </div>
                <div class="overall-column">
                    <h3>Technical</h3>
                    <p>{{department.technical}}</p>
                </div>
                <div class="overall-column">
                    <h3>Sports</h3>
                    <p>{{department.sports}}</p>
                </div>
            </div>
        </div>
        <!-- ------------------- -->
        <div class="wrapper-break"></div>
        <div class="coordinator-wrapper">
            <h3 class="wrapper-header">All Coordinators</h3>
            <div class="wrapper-break"></div>
            {% for coordinator in coordinators %}
            <div class="coordinator-row">
                <div class="event-block">
                    {{coordinator.event}}
                </div>
                <div class="coordinator-block">
                    {% for faculty in coordinator.faculties %}
                    <div class="coordinator-item">{{faculty.name}}</div>
                    {% endfor %}
                </div>
                <div class="coordinator-block">
                    {% for student in coordinator.students %}
                    <div class="coordinator-item">{{student.name}} ({{student.year}} Year)</div>
                    {% endfor %}
                </div>
            </div>
            <div class="wrapper-break"></div>
            {% endfor %}
        </div>
    </div>
</section>
{% include 'main/brand.html' %}

<script>
    document.getElementById('coordinators').style.color = "var(--primary)";
</script>
{% endblock body %}