{% extends "main/base.html" %}
{% load static %}
{% block title %}Schedule | Euphoric 2024{% endblock title %}
{% block head %}
<link rel="stylesheet" href="{% static 'main/css/schedule.css' %}">
{% endblock head %}

{% block body %}
{% include 'main/topbar.html' %}
<div class="schedule-container">
    <h1 class="schedule-header"><span>Euphoric 2024</span> Schedule </h1>
    <h2 class="schedule-subhead">Cultural Events</h2>
    <div class="schedule-wrapper">
        <div class="schedule-wrapper-headers">
            <h3>Date</h3>
            <h3>Event</h3>
            <h3>Time</h3>
            <h3>Venue</h3>
        </div>
        <div class="schedule-item">
            <div class="schedule-item-unit">
                05-04-2024
            </div>
            <div class="schedule-item-unit">
                Rangoli
            </div>
            <div class="schedule-item-unit">
                2:00 PM - 4:00 PM
            </div>
            <div class="schedule-item-unit">
                -
            </div>
        </div>
        <div class="schedule-item">
            <div class="schedule-item-unit">
                08-04-2024
            </div>
            <div class="schedule-item-unit">
                Nukkad Natak
            </div>
            <div class="schedule-item-unit">
                11:00 AM - 12:00 PM
            </div>
            <div class="schedule-item-unit">
                -
            </div>
        </div>
        <div class="schedule-item">
            <div class="schedule-item-unit">
                08-04-2024
            </div>
            <div class="schedule-item-unit">
                Skit
            </div>
            <div class="schedule-item-unit">
                2:00 PM - 4:00 PM
            </div>
            <div class="schedule-item-unit">
                -
            </div>
        </div>
        <div class="schedule-item">
            <div class="schedule-item-unit">
                09-04-2024
            </div>
            <div class="schedule-item-unit">
                Dance (Solo)
            </div>
            <div class="schedule-item-unit">
                10:15 AM - 12:30 PM
            </div>
            <div class="schedule-item-unit">
                -
            </div>
        </div>
        <div class="schedule-item">
            <div class="schedule-item-unit">
                09-04-2024
            </div>
            <div class="schedule-item-unit">
                Singing (Solo)
            </div>
            <div class="schedule-item-unit">
                12:30 AM - 1:30 PM
            </div>
            <div class="schedule-item-unit">
                -
            </div>
        </div>
        <div class="schedule-item">
            <div class="schedule-item-unit">
                09-04-2024
            </div>
            <div class="schedule-item-unit">
                Mimicry / Poetry / Stand-up
            </div>
            <div class="schedule-item-unit">
                1:30 PM - 2:30 PM
            </div>
            <div class="schedule-item-unit">
                -
            </div>
        </div>
        <div class="schedule-item">
            <div class="schedule-item-unit">
                10 / 11-04-2024
            </div>
            <div class="schedule-item-unit">
                Dance (Group)
            </div>
            <div class="schedule-item-unit">
                10:00 AM - 11:30 AM
            </div>
            <div class="schedule-item-unit">
                -
            </div>
        </div>
        <div class="schedule-item">
            <div class="schedule-item-unit">
                10 / 11-04-2024
            </div>
            <div class="schedule-item-unit">
                Musial Instruments
            </div>
            <div class="schedule-item-unit">
                11:30 AM - 1:30 PM
            </div>
            <div class="schedule-item-unit">
                -
            </div>
        </div>
    </div>
    <br><br>
    <h2 class="schedule-subhead">Technical Events</h2>
    <div class="schedule-wrapper">
        <div class="schedule-wrapper-headers">
            <h3>Date</h3>
            <h3>Event</h3>
            <h3>Time</h3>
            <h3>Venue</h3>
        </div>

        <div class="schedule-item">
            <div class="schedule-item-unit">
                09-04-2024
            </div>
            <div class="schedule-item-unit">
                Debate
            </div>
            <div class="schedule-item-unit">
                10:30 AM - 1:30 PM
            </div>
            <div class="schedule-item-unit">
                Pharmacy Block
            </div>
        </div>
        <div class="schedule-item">
            <div class="schedule-item-unit">
                09-04-2024
            </div>
            <div class="schedule-item-unit">
                Crossward Puzzle
            </div>
            <div class="schedule-item-unit">
                1:45 PM - 3:00 PM
            </div>
            <div class="schedule-item-unit">
                Pharmacy Block, Classroom
            </div>
        </div>
        <div class="schedule-item">
            <div class="schedule-item-unit">
                09-04-2024
            </div>
            <div class="schedule-item-unit">
                AD Mad Show
            </div>
            <div class="schedule-item-unit">
                1:45 PM - 3:00 PM
            </div>
            <div class="schedule-item-unit">
                Auditorium
            </div>
        </div>

        <div class="schedule-item">
            <div class="schedule-item-unit">
                09 / 10-04-2024
            </div>
            <div class="schedule-item-unit">
                LAN Game
            </div>
            <div class="schedule-item-unit">
                10:30 AM - 1:30 PM
            </div>
            <div class="schedule-item-unit">
                CS Department, Lab - 2
            </div>
        </div>
        <div class="schedule-item">
            <div class="schedule-item-unit">
                10-04-2024
            </div>
            <div class="schedule-item-unit">
                Best of Waste
            </div>
            <div class="schedule-item-unit">
                1:30 PM - 3:00 PM
            </div>
            <div class="schedule-item-unit">
                Mechanical Workshop
            </div>
        </div>
        <div class="schedule-item">
            <div class="schedule-item-unit">
                10-04-2024
            </div>
            <div class="schedule-item-unit">
                Extempore
            </div>
            <div class="schedule-item-unit">
                10:30 AM - 1:30 PM
            </div>
            <div class="schedule-item-unit">
                Pharmacy Block
            </div>
        </div>

    </div>
</div>
{% include 'main/brand.html' %}

<script>
    document.getElementById('schedule').style.color = "var(--nav-active)";
</script>
{% endblock body %}