{% extends "main/base.html" %}
{% load static %}
{% block title %}Success - Registration Form | Euphoric 2024{% endblock title %}
{% block head %}{% endblock head %}

{% block body %}
{% include 'main/topbar.html' %}
<section class="container">
    <h1 class="container-head"><span>Euphoric 2024</span> Event Registration</h1>
    <div class="success-container">
        <h3>Registered Successfully</h3>
        <p>Your Registration form has been submitted successfully, contact Respective Coordinators for further
            Information</p>
    </div>
</section>
{% endblock body %}