{% load static %}
<nav class="navbar">
    <a href="/">
        <img class="nav-logo" src="{% static 'main/images/logo.jpg' %}" alt="Sanskar Logo">
    </a>
    <div class="nav-action">
        <div class="nav-menu">
            <a href="/" class="nav-menu-item" id="home">Home</a>
            <a href="/schedule/" class="nav-menu-item" id="schedule">Schedule</i></a>
            <a href="/coordinators/" class="nav-menu-item" id="coordinators">Coordinators</a>
            <i class="ri-close-large-fill" id="closeNavBtn"></i>

        </div>
        <i class="ri-menu-unfold-2-fill" id="openNavBtn"></i>
        <a href="/register/" class="nav-action-item">Participate</a>
    </div>
</nav>

<script>
    const openNavBtn = document.getElementById('openNavBtn');
    const closeNavBtn = document.getElementById('closeNavBtn');
    const navMenu = document.querySelector('.nav-menu');

    openNavBtn.addEventListener('click', () => {
        navMenu.style.display = 'flex';
    });

    closeNavBtn.addEventListener('click', () => {

        navMenu.style.display = 'none';

    });

</script>