{% load static %}
<nav class="navbar">
    <a href="/">
        <img class="nav-logo" src="{% static 'main/images/logo.jpg' %}" alt="Sanskar Logo">
    </a>
    <div class="nav-action">
        <div class="nav-menu">
            <a href="/" class="nav-menu-item" id="home">Home<i class="ri-arrow-down-s-line"></i></a>
            <a href="/" class="nav-menu-item" id="events">Events<i class="ri-arrow-down-s-line"></i></a>
            <a href="/coordinators/" class="nav-menu-item" id="coordinators">Coordinators<i
                    class="ri-arrow-down-s-line"></i></a>
        </div>
        <!-- <a class="nav-head" href="/">EUPHORIC <span>2024</span></a> -->
        <!-- <a href="/coordinators/" class="nav-action-item">Coordinators</a> -->
        <a href="/register/" class="nav-action-item">Participate</a>
        <!-- <a href="/coordinators/" class="nav-action-item">Coordinators</a> -->
    </div>
</nav>