{% load static %}
<nav class="navbar">
    <a href="/">
        <img class="nav-logo" src="{% static 'main/images/logo.jpg' %}" alt="Sanskar Logo">
    </a>
    <div class="nav-action">
        <!-- <a class="nav-head" href="/">EUPHORIC <span>2024</span></a> -->
        <!-- <a href="/coordinators/" class="nav-action-item">Coordinators</a> -->
        <a href="/" class="nav-action-item draw">Participate</a>
        <a href="/coordinators/" class="nav-action-item">Coordinators</a>
    </div>
</nav>